PORT=
NODE_ENV=
API_URL=
MONGOOSE_URL=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=
JWT_COOKIE_SAMESITE=
JWT_COOKIE_SECURE=
JWT_COOKIE_DOMAIN=
JWT_COOKIE_PATH=

APP_CLIENT_KEY=
CORS_ORIGINS=
BACKEND_PUBLIC_URL=

ONESIGNAL_APP_ID=
ONESIGNAL_REST_API_KEY=

OTPIQ_API_KEY=
OTPIQ_BASE_URL=
OTPIQ_TEMPLATE_NAME=
OTPIQ_WHATSAPP_ACCOUNT_ID=
OTPIQ_WHATSAPP_PHONE_ID=

SIGNUP_OTP_MAX_VERIFY_ATTEMPTS=
SIGNUP_OTP_MAX_RESENDS=
SIGNUP_OTP_BLOCK_MINUTES=

PASSWORD_RESET_OTP_TTL_MINUTES=
PASSWORD_RESET_OTP_MAX_VERIFY_ATTEMPTS=
PASSWORD_RESET_OTP_MAX_RESENDS=
PASSWORD_RESET_OTP_BLOCK_MINUTES=
PASSWORD_RESET_SESSION_TTL_MINUTES=

ADMIN_USER_ID=
ADMIN_PASSWORD=
ADMIN_PHONE=
ADMIN_LOGIN_OTP_MAX_VERIFY_ATTEMPTS=
ADMIN_LOGIN_OTP_MAX_RESENDS=
ADMIN_LOGIN_OTP_BLOCK_MINUTES=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
